body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;   /* Sección particulas.js */
  z-index: 99;  /* Sección particulas.js */
}

/* Sección particulas.js */
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

/* Sección izquierda (formulario) */
.form-section {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.register-container {
  background-color: white;
  padding: 20px; /* reducido */
  border-radius: 60px; /* reducido */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  border: 2px solid #8B0000;
  width: 100%;
  max-width: 280px; /* reducido */
  text-align: center;
  margin: auto;
}

.register-logo {
  width: 180px; /* reducido */
  margin-bottom: 5px;
}

.register-title {
  font-size: 1.1rem; /* reducido */
  color: #333;
  margin-top: 5px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px; /* reducido */
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 4px; /* reducido */
  color: #333;
  font-size: 0.85rem; /* reducido */
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px; /* reducido */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem; /* reducido */
  box-sizing: border-box;
}

.btn-register {
  background-color: #8B0000;
  color: white;
  border: none;
  padding: 10px; /* reducido */
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 0.95rem; /* reducido */
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 15px; /* reducido */
}

.btn-register:hover {
  background-color: #a60000;
}

.login-links {
  font-size: 0.8rem; /* reducido */
  text-align: center;
}

.login-links a {
  color: #007BFF;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 0.75rem; /* reducido */
  margin-top: 4px;
  display: block;
}

/* Sección derecha (imagen) */
.image-section {
  width: 35%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.05);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}